.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
  border-radius: 100vh;
}

.btn {
  font-size: 3rem;
}
.container {
  margin-top: 23vh;
  /* position: absolute;
  top: 15vw;
  width: 125vw;
  left: calc(50% - 45vw); */
  /* margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.ground {
  position: absolute;
  top: 10vw;
  width: 125vw;
  z-index: -2;
}

html body {
  background-color: #ffff;
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  min-width: 100vw;
  height: 100vh;
  margin: 0;
}

HTML CSS Result Skip Results Iframe *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* ここから */
.ojiImg {
  position: absolute;
  top: 25vh;
  width: 50vw;
  left: calc(50% + 5vw);
}

/* ここから */
.yomeImg {
  position: absolute;
  top: 13vh;
  width: 40vw;
  left: calc(50% + 10vw);
}

.blockImgAbove {
  position: absolute;
  top: 23vw;
  width: 10vw;
  left: calc(50% - 28vw);
}

.blockImgSecond {
  position: absolute;
  top: 30vw;
  width: 10vw;
  left: calc(50% - 28vw);
}

.blockImgThird {
  position: absolute;
  top: 37vw;
  width: 10vw;
  left: calc(50% - 28vw);
}

.blockImgFourth {
  position: absolute;
  top: 44vw;
  width: 10vw;
  left: calc(50% - 28vw);
}

.kadenImg {
  position: absolute;
  z-index: 1;
  top: 14vh;
  width: 45vw;
  left: calc(50% - 68vw);
}

img {
  width: 100%;
  transform: translate(50px, 50px);
}

#target,
#result {
  font-size: 32px;
  margin-bottom: 15px;
  background: #ccc;
  height: 60px;
  line-height: 60px;
}

#start {
  float: left;
}

#stop {
  margin: 0 auto;
}

#start {
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background: #ff6f00;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px #ccc;
}

#result.standby {
  opacity: 0.5;
}

#result.perfect {
  background: #fa5858;
  color: #fff;
}

#start.pushed,
#stop.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}

element.style {
  z-index: -1;
}

.modal {
  max-width: 80%;
  margin: 10px auto;
}

/* ふわっと出る結果エリア */
#fade {
  position: absolute;
  font-size: 10vw;
  -webkit-text-stroke-color: whitesmoke;
  -webkit-text-stroke-width: 2px;
}

.blur {
  animation-name: blurAnime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes blurAnime {
  from {
    filter: blur(10px);
    transform: scale(1.02);
    opacity: 0;
  }

  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

.sample {
  left: calc(50% - 20vw);
  text-align: center;
  line-height: 0.95em;
  font-weight: bold;
  color: #ff6f00;
  text-shadow: 0 0.01em 0 #999, 0 0.02em 0 #888, 0 0.03em 0 #777, 0 0.04em 0 #666, 0 0.05em 0 #555, 0 0.06em 0 #444,
    0 0.08em 0 #000;
}

#modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  z-index: 1;
}

.modal {
  width: 80%;
  margin: 180px auto 0;
}

.modal-footer {
  justify-content: center;
}

.btn-circle-3d {
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #fff;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: 0.4s;
}

.btn-circle-3d:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

* {
  margin: 0;
  user-select: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
}
.background {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: #ffcccc;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.countDisplay {
  font-size: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.mash {
  animation: mash 0.5s linear 0s;
  background-color: #6eb2e0;
  border-radius: 50%;
  border: 4px solid #6eb2e0;
  position: absolute;
  z-index: 1000;
}
@keyframes mash {
  0% {
    height: 0;
    opacity: 1;
    transform: translate(0, 0);
    width: 0;
  }
  100% {
    height: 200px;
    opacity: 0;
    transform: translate(-100px, -100px);
    width: 200px;
  }
}
.result {
  font-size: 24px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink {
  0% {
    font-weight: 100;
  }
  100% {
    font-weight: 700;
  }
}

.backgroundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
